<%= render "shared/header" %>

<div class="index-title d-flex align-items-center justify-content-center">
  <div class="h1 text-center text-white font-weight-bold">
    <%= current_user.name %>さんのマイページ
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row justify-content-center w-75 mx-auto bg-light rounded">
      <div class="new-post col-4 text-center border-bottom p-3 my-3 font-weight-bold">
        <%= current_user.name %>さんの投稿一覧
      </div>
      <div class="w-100"></div>
      <% current_user.posts.reverse_each do |post| %>
        <div class="post-wrapper col-9 bg-white border border-primary pt-5 px-5 pb-3 mb-5">
          <%= link_to post_path(post.id), class:"post-link text-dark" do %>
            <div class="mb-2">
              <% if post.spoiler %>
                <span class="text-danger font-weight-bold btn-sm">ネタバレあり</span>
              <% else %>
                <span class="text-primary font-weight-bold btn-sm">ネタバレなし</span>
              <% end %>
              <span class="post-title"><%= post.title %></span>
            </div>
            <div class="mb-2 ml-2">
              カテゴリー：<%= post.category.name %>
            </div>
            <div class="pb-1 border-bottom">
              <%= link_to "編集する", edit_post_path(post.id), class:"btn btn-warning btn-sm col-2 ml-1 mb-2" %>
              <%= link_to "削除する", post_path(post.id), method: :delete, class:"btn btn-danger btn-sm col-2 ml-1 mb-2" %>
            </div>
            <div class="post-content p-3">
              <%=safe_join(post.content.split("\n"),tag(:br))%>
            </div>
            <div class="text-center pt-3">
              <%= link_to "続きを読む", post_path(post.id) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
