<div class="top-title container-fruid d-flex align-items-center">
  <div class="row justify-content-center">
    <h1 class="col-6 text-center text-white display-3">
      トップページ
    </h1>
    <div class="w-100"></div>
    <div class="col-6 text-center text-white">
      好きな物語への愛を語るサイトです。
    </div>
    <div class="w-100"></div>
    <div class="row justify-content-center mt-3">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"col-1 btn btn-danger btn-sm m-1 border" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class:"col-1 btn btn-primary m-1 border" %>
        <%= link_to "ログイン", new_user_session_path, class:"col-1 btn btn-success m-1 border" %>
      <% end %>
    </div>
    <div class="w-100"></div>
    <%= link_to "みんなの投稿を見てみる！", posts_path, class:"col-2 btn btn-info m-1 border" %>
  </div>
</div>

<div class="top-about container">
  <div class="row">
    <div class="col-5">
      画像
    </div>
    <div class="col-7">
      <h2 class="featurette-heading">このサイトについて</h2>
      <p class="lead">コンセプトを説明</p>
    </div>
  </div>
</div>

<div class="top-cards container d-flex justify-content-around">
  <div class="card" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
