<%= render "shared/header" %>

<div class="index-title d-flex align-items-center justify-content-center">
  <div class="h1 text-center text-white font-weight-bold">”<%= @keyword %>”の検索結果</div>
</div>

<% breadcrumb :search, @keyword %>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="container-fluid py-5">
  <div class="container">
    <% if @posts != [] %>
      <%= render "shared/index", posts: @posts %>
    <% else %>
      <div class="no-result row align-items-center justify-content-center w-75 mx-auto bg-light rounded">
        <div class="col text-center">検索結果は見つかりませんでした。</div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>

