<%= render "shared/header" %>


<div class="index-title d-flex align-items-center justify-content-center">
  <div class="h1 text-center text-white font-weight-bold">投稿詳細ページ</div>
</div>

<% breadcrumb :post, @post %>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="container-fluid py-5">
  <div class="container" id="test">
    <div class="row justify-content-center">
      <div class="col-8 bg-light shadow p-5">
        <div class="pb-3 border-bottom">
          <div class="mb-2">
            <% if @post.spoiler %>
              <span class="text-danger font-weight-bold btn-sm">ネタバレあり</span>
            <% else %>
              <span class="text-primary font-weight-bold btn-sm">ネタバレなし</span>
            <% end %>
            <span class="post-title"><%= @post.title %></span>
          </div>
          <div class="post-category mb-2 ml-2">
            カテゴリー：<%= @post.category.name %>
          </div>
          <% if user_signed_in? && @post.user_id == current_user.id %>
            <%= link_to "編集する", edit_post_path(@post.id), class:"btn btn-warning btn-sm col-2 ml-1" %>
            <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-danger btn-sm col-2 ml-1" %>
          <% end %>
        </div>
        <div class="p-3">
          <%=safe_join(@post.content.split("\n"),tag(:br))%>
        </div>
        <div class="row justify-content-around m-3">
          <% Comment.all.length.times do |i| %>
          <div class="col d-flex">
            <% if !user_signed_in? %>
              <span class="comment btn border-primary btn-sm"><%= Comment.find(i+1).name %></span>
            <% elsif @post.reactions.find_by(comment_id: i+1, user_id: current_user.id) %>
              <%= link_to Comment.find(i+1).name, post_reactions_path(@post.id, i+1), method: :delete, remote: true, id:"reaction-btn-#{i+1}-checked", class:"btn btn-sm btn-primary" %>
              <%= link_to Comment.find(i+1).name, post_reactions_path(@post.id, i+1), method: :post, remote: true, id:"reaction-btn-#{i+1}", class:"hidden" %>
            <% else %>
              <%= link_to Comment.find(i+1).name, post_reactions_path(@post.id, i+1), method: :delete, remote: true, id:"reaction-btn-#{i+1}-checked", class:"hidden" %>
              <%= link_to Comment.find(i+1).name, post_reactions_path(@post.id, i+1), method: :post, remote: true, id:"reaction-btn-#{i+1}", class:"btn btn-sm btn-secondary border-primary" %>
            <% end %>
            <% reaction = @post.reactions.where(comment_id: i+1) %>
            <% if reaction %>
              <% reaction_count = reaction.count %>
            <% else %>
              <% reaction_count = 0 %>
            <% end %>
            <%= content_tag(:div, reaction_count, id:"reaction-count-#{i+1}", class:"ml-2") %>
          </div>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to "投稿一覧に戻る", posts_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
